body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding: 75px 0;
}

.navbar-brand {
    font-weight: bold;
    color: #ffc107 !important;
}

.navbar {
    width: 100%;
    z-index: 1000;
}

.container {
    flex: 1;
}

.central-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-board {
    background-color: #ffc107;
    text-align: center;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
    background-color: #ffd218;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.form-row {
    text-align: center;
    justify-content: center;
    width: 150px;
    display: flex;
}

.nav-link.active {
    background-color: #ffc107;
    color: green !important;
    border: 2px solid green;
}

.my-btn {
    border-radius: 5px;
    background-color: green;
    font-size: 22px;
    margin: 10px;
    border: 2px solid black;
}

.my-btn:hover,
.my-btn:focus {
    background-color: #ffc107;
    color: green;
    border: 2px solid green;
}


.chem-condition {
    color: crimson;
    text-shadow: 0 0 5px rgba(255, 77, 77, 0.3);
}

.chem-chance {
    color: #4da6ff; 
    text-shadow: 0 0 5px rgba(77, 166, 255, 0.3);
}

.chem-reward {
    color: gold;
    text-shadow: 0 0 5px rgba(255, 255, 77, 0.3);
}

.chemistry-cell {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    line-height: 1.6;
}

.bordered {
    border: 1px solid #ffc107;
    border-radius: 5px;
    padding: 10px;
}


#id_chemistry {
    max-height: 200px;
}

input[type="checkbox"] {
    accent-color: #ffc107;
}

input[type="radio"] {
    accent-color: #ffc107;
}

a {
    text-decoration: none;
}