{% extends 'squadron_calculator/base.html' %}

{% block title %} 
    Mission Optimizer
{% endblock %}

{% block content %}
  <div class="central-wrapper container mt-5">
    <div class="title-board text-center mb-4">
      <h1>
        Mission Optimizer
      </h1>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card bg-dark text-white shadow">
            <div class="card-body">
              <form id='form' method="post">
                {% csrf_token %}
                {% include 'squadron_calculator/generic_form.html' %}
                <div class="d-grid">
                  <button type="submit" class="my-btn btn btn-primary btn-lg">
                    Optimize
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if task %}
  <div>
    <h1> now loading...</h1>
  </div>
  {% endif %}
{% endblock %}
{% block extra_js %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const form = document.getElementById('form');
      form.addEventListener("submit", function (event) {
        //event.preventDefault();
        console.log(event);
      })
    })
  </script>
{% endblock %}